<h1>Family Tree!</h1>

{{#each family}}
<div id="{{@key}}">
	<h3>Name: {{name}}</h3>
	<h5>Age:  {{age}}</h5>
	<h5>Gender: {{gender}}</h5>
	<h5>Skills: {{skills}}</h5>
</div>
<button id="delete">Delete Family Member!</button>
{{/each}}